.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
~/AndroidStudioProjects/HouseInspection/.idea/modules.xml
~/AndroidStudioProjects/HouseInspection/.idea/misc.xml
~/AndroidStudioProjects/HouseInspection/.idea/vcs.xml
HouseInspection.iml
app/app.iml
.idea
